/* General rules */
body {
  font-family: Lobster;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* navbar */
.navbar, .navbar-brand {
  font-size: 1.5em;
}

.spacer {
  padding: 5%;
}


/* main */
.block1, .block2, .contact {
  background-color: #000;
  color: #fff;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 3%;
  opacity: .75;
  img {
    border-radius: 50%;
    margin-bottom: .5em;
  }
}

.block2 {
  .card {
    margin-bottom: 15%;
  }
  img, iframe {
    width: 100%;
    border-radius: 5%;
    box-shadow: 2px 2px 2px #555;
    transition: transform .4s ease-out;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.block3 {
  background-color: #000;
  color: #fff;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 3%;
  opacity: .75;
  .btn {
    box-shadow: 2px 2px 2px #555;
  }
}

.contact {
  form {
    clear: both;
    padding-top: 32px;
  }

  label {
    display: none;
  }
  input, textarea {
    width: 100%;
    margin-bottom: 24px;
    color: #fff;
    font-family: sans-serif;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #333;
  }
  input:focus, textarea:focus {
    outline: 0;
  }
}

/* footer */
footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  h3 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  .footer-left {
    p {
      margin-top: 1.5em;
      font-size: 1.2em;
      a {
        color: #555;
        text-decoration: none;
      }
    }
  }
  .footer-right {
    ul {
      list-style: none;
      margin-top: 1.5em;
      padding: 0;
      li {
        display:inline-block;
        color: #fff;
        border:solid 2px #fff;
        border-radius:50%;
        width:50px;
        height:50px;
        text-align:center;
        font-size:20px;
        line-height:48px;
        transition:all .3s ease-in-out;
        margin: 5px;
      }
      li:hover {
        border:solid 2px #fff;
        background: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    margin-top: 52px;
    li {
      float: left;
    }
  }
}