/* General rules */
body {
  font-family: Lobster;
  background: no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover; }

/* navbar */
.navbar, .navbar-brand {
  font-size: 1.5em; }

.spacer {
  padding: 5%; }

/* main */
.block1, .block2 {
  background-color: #000;
  color: #fff;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 3%;
  opacity: .75; }
  .block1 img, .block2 img {
    border-radius: 50%;
    margin-bottom: .5em; }

.block2 .card {
  margin-bottom: 15%; }
.block2 img, .block2 iframe {
  width: 100%;
  border-radius: 5%; }

.block3 {
  background-color: #000;
  color: #fff;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 3%;
  opacity: .75; }
