/* General rules */
body {
  font-family: Lobster;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* navbar */
.navbar, .navbar-brand {
  font-size: 1.5em; }

.spacer {
  padding: 5%; }

/* main */
.block1, .block2, .contact {
  background-color: #000;
  color: #fff;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 3%;
  opacity: .9; }
  .block1 img, .block2 img, .contact img {
    border-radius: 50%;
    margin-bottom: .5em; }

.block2 .card {
  margin-bottom: 15%; }
.block2 img, .block2 iframe {
  width: 100%;
  height: 180px;
  border-radius: 5%;
  box-shadow: 2px 2px 2px #555;
  transition: transform .4s ease-out; }
.block2 img:hover {
  transform: scale(1.05); }

.block3 {
  background-color: #000;
  color: #fff;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 3%;
  opacity: .75; }
  .block3 .btn {
    box-shadow: 2px 2px 2px #555; }

.contact form {
  clear: both;
  padding-top: 32px; }
.contact label {
  display: none; }
.contact input, .contact textarea {
  width: 100%;
  margin-bottom: 24px;
  color: #fff;
  font-family: sans-serif;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #333; }
.contact input:focus, .contact textarea:focus {
  outline: 0; }

/* footer */
footer {
  background-color: #000;
  color: #ccc;
  text-align: center; }
  footer h3 {
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  footer .footer-left p {
    margin-top: 1.5em;
    font-size: 1.2em; }
    footer .footer-left p a {
      color: #555;
      text-decoration: none; }
  footer .footer-right ul {
    list-style: none;
    margin-top: 1.5em;
    padding: 0; }
    footer .footer-right ul li {
      display: inline-block;
      color: #fff;
      border: solid 2px #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 20px;
      line-height: 48px;
      transition: all .3s ease-in-out;
      margin: 5px; }
    footer .footer-right ul li:hover {
      border: solid 2px #fff;
      background: #fff; }

@media screen and (max-width: 768px) {
  #navbar {
    margin-top: 52px;
    text-align: right; }
    #navbar li {
      float: left; } }
