/* General rules */
body {
  font-family: Lobster;
  background: no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}

.spacer {
  padding: 5%;
}

/* main */
.block {
  background-color: #000;
  color: #fff;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  font-size: 1.5em;
  padding: 3%;
  opacity: .75;
}